<main>

    {{> title data="Summary" big=true}}
    {{#with main}}
    <section>
        {{summary.text}}
    </section>
    <hr>
    {{> title data="Experience" big=false}}
    <section>
        {{experience.text}}
    </section>
    {{/with}}
</main>