<main>

    <p class="fs-1 fw-bold">{{header.title}}</p>
      {{#if header.button}}  
      {{#with header.button}}
               <a type="btn" class="btn btn-outline-secondary py-2 my-2" href="{{link}}">{{text}}</a>
{{/with}}
 {{/if}}
<hr>

<section class="row my-2 py-2">
    {{#each goodsBlock}}
       {{> cartGoodsItem}}
        {{/each}}
</section>

<hr>


<section class="row my-2 py-2">
    {{#with total}}

{{> check}}

{{/with}}
</section>


<hr>


{{#with goodsOtherBlock}}
<section class="row my-2 py-2 my-3">
    <div class="row text-center mb-2">
    <p class="fs-1 fw-medium">{{title}}</p>
    </div>
{{#each cards}}


<div class="col-4">

        {{> shopcard}}

</div>
{{/each}}
</section>
{{/with}}

<hr>

{{#with subscribe}}
{{> subscribe}}
{{/with}}


</main>